.register-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  max-width: 360px;
}

ion-item {
  margin-bottom: 16px;
}

ion-button {
  margin-top: 24px;
}

.link {
  margin-top: 12px;
  text-align: center;
}
